<h3>{{Title}}</h3>
<ul>
    {{#each _links.[1].todo}}
        {{#if templated}}
        <li>{{href}}</li>
        {{else}}
        <li><a href="{{href}}">{{href}}</a></li>
        {{/if}}
    {{/each}}
</ul>